<%= form_for(@name) do |f| %>
  <% if @name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@name.errors.count, "error") %> prohibited this name from being saved:</h2>

      <ul>
      <% @name.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <%= f.label :Name %><br />
    <%= f.text_field :Name %>
  </div><br>
  
  <div class="container">
    <%= f.label :Time_Available %>
	<label class="checkbox inline">
	<input type="checkbox" id="inlineCheckbox1" value="option1"> 
		<%= check_box_tag(:time, "9") %>
		<%= label_tag(:time_nine, "9:00-10:00AM") %>
	</label>
	<label class="checkbox inline">
	<input type="checkbox" id="inlineCheckbox2" value="option2">
		<%= check_box_tag(:time, "10") %>
		<%= label_tag(:time_ten, "10:00-11:00AM") %>
	</label>
	<label class="checkbox inline">
	<input type="checkbox" id="inlineCheckbox3" value="option3">
		<%= check_box_tag(:time, "11") %>
		<%= label_tag(:time_eleven, "11:00AM-12:00PM") %>
	</label>
  </div><br>
  
  <div class="container textarea rows="10">
    <%= f.label :Essay %><br />
    <%= f.text_area :Essay %>
  </div>
  
  <div class="btn container-fluid">
  	<%= link_to 'Submit Your Résumé', new_resume_path %>
  </div>
  <br><br>
  <div class="container">
    <%= f.submit %>
  </div>
<% end %>
