<%= form_for(@app) do |f| %>
  <% if @app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
      <% @app.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
	  <div class="field span2 offset4">
	    <%= f.label :name_of_application %><br />
	    <%= f.text_field :name_of_application %>
	  </div>
	</div>
	<div class="row">
		<div class="field span8 offset4">
	    <%= f.label :education %><br />
	    <%= f.text_area :education %>
	  </div>
	</div>
	<div class="row">
		<div class="field span8 offset4">
	    <%= f.label :previous_experience %><br />
	    <%= f.text_area :previous_experience %>
	  	</div>
	</div>
	<div class="row">
		<div class="field span8 offset4">
	    <%= f.label :resume %><br />
	    <%= f.text_area :resume %>
	  </div>
	</div>
	<div class="row">
		<div class="field span8 offset4">
	    <%= f.label :essay %><br />
	    <%= f.text_area :essay %>
	  </div>
	</div>
	<div class = "row">
		<div class="field span8 offset4">
	    <%= f.label :references %><br />
	    <%= f.text_area :references %>
	  	</div>
	</div>
		<div class="actions span1 offset4">
	    <%= f.submit %>
	  </div>
	<% end %>
</div>
