<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @app.name_of_application %>
</p>

<p>
  <b>Education:</b>
  <%= @app.education %>
</p>

<p>
  <b>Essay:</b>
  <%= @app.essay %>
</p>

<p>
  <b>Previous Experience:</b>
  <%= @app.previous_experience %>
</p>

<p>
  <b>Resume:</b>
  <%= @app.resume %>
</p>

<p>
  <b>References:</b>
  <%= @app.references %>
</p>


<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
